<form nz-form [nzLayout]="'horizontal'" [formGroup]="recordForm">
  <nz-form-item>
    <nz-form-label> 重量: </nz-form-label>
    <nz-form-control>
      <nz-input-number [nzStep]="2.5" [formControlName]="'weight'"></nz-input-number>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>次數:</nz-form-label>
    <nz-form-control>
      <nz-input-number [nzStep]="1"[formControlName]="'reps'"></nz-input-number>
    </nz-form-control>
  </nz-form-item>
</form>
<div class="text-center" style="margin-top: 40px">
  <button
    nz-button
    nzType="primary"
    nzGhost
    class="btn-140 btn-default mr-5"
    (click)="onModalCancel()"
  >
   取消
  </button>
  <button
    nz-button
    nzType="primary"
    class="btn-140"
    (click)="onModalConfirm()"
  >
  新增
  </button>
</div>
