.modal-card {
  .title {
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
  }
  .btn-box {
    text-align: center;
  }
}
