<nz-collapse class="m-2">
  <nz-collapse-panel
    *ngFor="let record of displayList"
    [nzHeader]="title"
    [nzExtra]="extraTpl"
  >
    <!-- Header start -->
    <ng-template #title>
      <span class="mr-2">{{ record.date | date: "yyyy/MM/dd HH:mm" }}</span
      >{{ record.title }}</ng-template
    >
    <!-- Header end -->
    <!-- Content start -->
    <div *ngFor="let detail of record.detail">
      <div>{{ detail.name }}:</div>
      <div class="row">
        <div class="col">組數:{{ detail.sets }}組</div>
        <div class="col">訓練量:{{ detail.volume }}kg</div>
      </div>
    </div>
    <!-- Content end -->
  </nz-collapse-panel>
</nz-collapse>

<app-create-btn
  class="click-btn"
  (click)="createRecordModal()"
></app-create-btn>

<ng-template #extraTpl>
  <button
    nz-button
    [nzType]="'primary'"
    (click)="onCheckDetail(); $event.stopPropagation()"
  >
    編輯
  </button>
</ng-template>
