<nz-collapse>
  <nz-collapse-panel
    *ngFor="let record of displayList"
    [nzHeader]="title"
    [nzExtra]="extraTpl"
  >
    <!-- Header start -->
    <ng-template #title>{{
      (record.date | date: "yyyy/MM/dd HH:mm") + record.title
    }}</ng-template>

  <!-- Header end -->
  <!-- Content start -->
  <div *ngFor="let detail of record.detail">
    <div>{{detail.name}}:{{detail.volume}}</div>
  </div>
  <!-- Content end -->
</nz-collapse-panel>
</nz-collapse>

<app-create-btn
  class="click-btn"
  (click)="createRecordModal()"
></app-create-btn>

<ng-template #extraTpl>
  <!-- You can use stopPropagation if you don't want the panel to toggle -->
  <button nz-button (click)="onCheckDetail()">編輯</button>
  <!-- <i nz-icon nzType="setting" (click)="$event.stopPropagation()"></i> -->
</ng-template>
