<nz-collapse class="m-2">
  <nz-collapse-panel [nzHeader]="header" [nzExtra]="extraTpl">
    <!-- Header -->
    <ng-template #header>
      <div class="header">{{movement.movement}}</div>
    </ng-template>
    <!-- 運動細節 Start -->
    <div
      class="base-card"
      cardStyle="rounder"
      *ngFor="let info of movementInfoList; let infoIndex = index"
    >
      <div class="row">
          <div class="col-6">重量:{{ info.weight }}</div>
          <div class="col-6">次數:{{ info.reps }}</div>

      </div>
    </div>
    <div>
      <i
        nz-icon
        nzType="plus-circle"
        nzTheme="fill"
        (click)="createSameMovementInfo()"
      ></i>
    </div>
  </nz-collapse-panel>
</nz-collapse>

<ng-template #extraTpl>
  <!-- You can use stopPropagation if you don't want the panel to toggle -->
  <button nz-button [nzType]="'primary'" (click)="createMovementInfo();$event.stopPropagation()">設定重量</button>
  <!-- <i nz-icon nzType="setting" (click)="$event.stopPropagation()"></i> -->
</ng-template>
