@import "../shared/scss/theme-variables.scss";

nz-header {
  background-color: $color-primary;
  padding: 0;
}

.nav-bar {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  > li {
    padding: 0 8px;
  }
}

nz-content {
  background-color: #fff;
}
